/* include font */
@font-face {
    font-family: 'Source Sans 3';
    src: url('../assets/fonts/SourceSans3-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../assets/fonts/SourceSans3-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../assets/fonts/SourceSans3-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('../assets/fonts/SourceSans3-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin-bottom: 0 !important;
}

body{
    font-family: 'Source Sans 3', sans-serif;
}

/* Header */
.topbar{
    background-color: #232F3E;
}

.topbar_content p{
    font-size: 13px;
    font-weight: bold;
}

/* Navbar */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.nav-item a{
    text-decoration: none;
    color: black;
}

.offcanvas-search .offcanvas-search-input input{
    border: none;
}

.offcanvas-search .offcanvas-search-input input:focus{
    outline: none;
}

.offcanvas-cart .title-header h2{
    font-size: 20px;
    font-weight: bold;
}

.cart_content h2{
    font-size: 18px;
    font-weight: bold;
}

.navbar-toggler {
    border: none;
    background: transparent;
    box-shadow: none;
}

.offcanvas-nav{
    width: 100% !important;
    max-width: 100% !important;
    height: 100vh;
}

.offcanvas-nav-search{
    background-color: #eee;
}

.offcanvas-nav .offcanvas-search-input{
    background-color: transparent;
}

.offcanvas-nav .offcanvas-search-input input{
    border: none;
    background-color: transparent;
}

.offcanvas-nav .offcanvas-search-input input:focus{
    outline: none;
}

.offcanvas-nav-p{
    font-size: 14px;
}

.offcanvas-nav-social-content{
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding-top: 1rem;
}

.offcanvas-nav-social{
    border: 2px solid black;
    padding: 5px 7px;
    border-radius: 50%;
}

.offcanvas-nav-social img{
    width: 20px;
}